body {
  margin: 0%;
  font-family: JetBrains Mono, monospace;
  font-size: .875rem;
}

a {
  text-decoration: none;
  color: yellow; 
}

.folder {
  color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  image-rendering: pixelated;
}

.inside-folder {
  margin: 3%;
  width: 450px;
  background-color: black;
  color: white;
}
